langchain
langchain-community
langchain-groq
langchain-huggingface
chromadb
sentence-transformers
fastapi
uvicorn
streamlit
python-dotenv
pypdf
beautifulsoup4
pandas
requests
groq
tiktoken
langchain-text-splitters
lxml